<div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
      <div class="my-auto">
        <h2 class="mb-5">Interests</h2>
        <p>Oltre ad essere un'appassionata di tutto ciò che la tecnologia offre, sono un amante della natura e degli animali. </p>
        <p class="mb-0">Nel tempo libero coltivo diversi hobbies: riciclo cretivo di mobili antichi, fotografia, pittura, giochi da tavolo,  leggo manga e fumetti, guardo serie tv e film, in particolare genere fantasy e fantascienza.</p>
      </div>
    </section>

  </div>

